<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div> 
    <br>
    <h3 style="text-align: center; font-family: 'Courier New', Courier, monospace;">
    this is homepage for taking input
    </h3>
    <br><br>
    <form  action="take-input" method="POST">
      <label for="fname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your tracking Number</label><br>
      <input type="text" id="fname" name="fname" value=""><br><br>
      <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your shipment company</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>
      <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your shipment company</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br> <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your shipment company</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>