<html>
<head>
  <title>Track</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div> 
    <br>
    <h3 style="text-align: center; font-family: 'Courier New', Courier, monospace;">
    Track your shipment
    </h3>
    <br><br>
    <form  action="track-input" method="POST">
      <label for="fname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Courier Company Code</label><br>
      <input type="text" id="fname" name="Company_code" value=""><br><br>
      <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Tracking Number</label><br>
      <input type="text" id="lname" name="Tracking_num" value=""><br><br>
      <input type="submit" value="track your Shipment">
    </form>

      <table>
        <thead>
          <tr>
            <th>Tracking Number</th>
            <th>Courier Company</th>
            <th>Expected Date Of Arrival</th>
            <th>Present location</th>
          </tr>
        </thead>
       
      </table>


  
  </div>
</body>
</html>